{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
  <div class="position-relative overflow-hidden mx-auto p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">ATS Resume Checker</h1>
      <h3 class="fw-normal text-muted mb-3">Check if the Applicant Tracking Systems can read your resume. </h3>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex mx-auto flex-md-equal w-100 my-md-3 ps-md-3 justify-content-center">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">How it works? </h2>
        <p class="lead">Our in-house tracking system has 7 criterias to look for in your resume.
          <br>
          if it can successfully read your resume and fulfill the criterias, then your resume is ATS compliant.</p>
      </div>
      <div class="bg-primary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="{% static 'img/Success Scholar CV.jpg' %}" alt="img" style="width: 95%; height:955; border-radius: 21px 21px 0 0; transform: translateY(+2%);">
      </div>
    </div>
  </div>
</main>

{% endblock %}