{% extends 'base.html' %}

{% block title %}Resume Checker - Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% if extension == '.pdf' %}
    <div class="col bg-success text-white p-5">
    {% else %}
    <div class="col bg-danger text-white p-5">
    {% endif %}
      <span class="fs-1">Upload Your Resume:</span>
      <br>
      <br>
      <span class="fs-5">It can be a word or pdf file.</span>
    </div>
    <div class="col bg-white text-white d-flex align-items-center justify-content-center">
      <form method="post" id="uploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file }}
        <input type="file" name="file" id="fileInput" style="display: none;">
      </form>
      {% if extension == ".pdf" %}
      <button id="upload" class="btn btn-outline-danger btn-lg m-2">
        UPLOAD NEW
      </button>
      <button id="next" class="btn btn-outline-primary btn-lg">
        NEXT
      </button>
      {% else %}
      <button id="upload" class="btn btn-outline-dark btn-lg">
        UPLOAD FILE
      </button>
      {% endif %}
    </div>
  </div>
  {% if url %}
  <p class="text-dark text-center">
    {% if extension == ".pdf" %}
    FILE: <span class="text-primary">{{ name }}</span> uploaded successfully!
    {% else %}
    FILE: <span class="text-danger">{{ name }}</span> uploaded.
    <br>
    <span class="text-danger">Kindly upload a <span class="text-primary">".pdf"</span> or <span class="text-primary">".docx"</span> Extension File </span>
    {% endif %}
  </p>

  <div class="d-flex justify-content-center align-items-center">
    <div class="w-75">
      <center>
      {% if extension == ".pdf" %}
      <iframe src="{{url}}" frameborder="0" height="400px" width="100%"></iframe>
      {% else %}
      <img src="{{url}}" alt="{{name}}" class="w-100">
      {% endif %}
      </center>
    </div>
  </div>
  {% endif %}
</div>

<script>
  uploadButton = document.getElementById("upload");
  inputFile = document.getElementById("fileInput");
  uploadForm = document.getElementById("uploadForm")

  nextButton = document.getElementById("next");

  uploadButton.addEventListener("click", function(){
    inputFile.click();
  })

  inputFile.addEventListener("change", function(){
    var uploadedFile = inputFile.files[0];

    if (uploadedFile) {
      uploadForm.submit();
    }

    <!-- alert("File uploaded successfully!");  -->
  })

  nextButton.addEventListener("click", function(){
    window.location.href="ats/analyzer";
  })
</script>

{% endblock %}